body {
    background-image: url("https://byucougars.com/sites/default/files/styles/story_images/public/2021-09/18%20web%20copy.jpeg?itok=CkFfqZgZ");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}