body {
    background-image: url("https://byucougars.com/sites/default/files/styles/story_images/public/2021-09/18%20web%20copy.jpeg?itok=CkFfqZgZ");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#game-winner {
    color: blue;
    display: flex;
    justify-content: center;
    height: 20px;

    
}

#win{
    position: absolute;
    top: 50px
}

button{
    height: 40px;
    width: 170px;
    border-radius: 20px;
    font-size: 15px;


}

#buttons{
    display: flex;
    justify-content: center;
}

button:hover {
    height: 45px;
    width: 175px;
    border-radius: 25 px;
    color: white;
    background-color: blue;
    font-weight: bold
}